<!DOCTYPE html>
<html>
<head>
    <title>Crop and Soil Prediction</title>
</head>
<body>
    <h1>Welcome to the Crop and Soil Prediction System</h1>
    
    <!-- Button to redirect to Crop Recommendation page -->
    <form action="/crop-recommendation">
        <input type="submit" value="Crop Recommendation">
    </form>

    <!-- Button to redirect to Soil Analysis page -->

    <form action="/predict" method="get">
        <input type="submit" value="Soil Analysis">
    </form>
</body>
</html>
